@font-face{
    font-family: get_schwifty;

    src:url(/font/get_schwifty.ttf)
}

.PageN{
    text-align: center;
}
.btnback{
    width: auto;
    margin: 25px 1px 50px;
}
h1{
    font-family: get_schwifty;
}

.pall{
    background-color: darkcyan;
    text-align: center;
    border-radius: 10%;
}

.Nombre{
    text-align: center;
}

.imgF{
    padding: 11%;
    border-radius: 100px;
}

.Footerr{
    text-align: center;
    font-size: 100px;
}